.lilies-dashboard-icon {
  font-weight: 700;
  font-size: 2.063rem;
  line-height: 3.125rem;
  letter-spacing: 0.05em;
  color: #00302e;
}

.profile-container {
  font-weight: 600;
  font-size: 1.438rem;
  line-height: 2.063rem;
  color: #00302e;
}

.profile-container > p {
  font-weight: 400;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.69);
}

.dishes-item > div {
  background: rgba(255, 255, 255, 0.83);
  border: 0.3px solid rgba(0, 48, 46, 0.14);
  border-radius: 5px;
}

.dashboard-item {
  max-width: 15rem;
  transition: transform 0.2s;
}

.dashboard-item:hover {
  transform: scale(1.1);
  box-shadow: inset 0 0 10px #f9fafb;
}

.price {
  font-weight: 700;
  font-size: 0.813rem;
  line-height: 2.063rem;
  color: #00302e;
}

.cart {
  font-weight: 500;
  font-size: 0.813rem;
  line-height: 2.063rem;
  color: #06e775;
}

.dashboard-item h6 {
  font-weight: 600;
  font-size: 1.063rem;
  line-height: 2.063rem;
  color: #00302e;
}

.dashboard-item p {
  font-weight: 400;
  font-size: 0.688rem;
  line-height: 1.313rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.69);
}

.modal-content {
  float: right;
}

.selected-dish h6 {
  font-weight: 600;
  font-size: 1.063rem;
  line-height: 2.063rem;
  color: #00302e;
}

.selected-dish p {
  font-weight: 400;
  font-size: 0.688rem;
  line-height: 1.688rem;
  color: rgba(0, 0, 0, 0.69);
}

.selected-price {
  font-weight: 600;
  font-size: 1.063rem;
  line-height: 2.063rem;
  color: #00302e;
}

.cart-btn {
  font-weight: 600;
  font-size: 1.938rem;
  line-height: 1.688rem;
  text-align: center;
  color: #00302e;
  background: #f3c294;
  padding: 0.688rem 1rem;
}

.add-cart-btn {
  font-weight: 600;
  font-size: 0.813rem;
  line-height: 1.688rem;
  text-align: center;
  color: #fbfbfb;
  background: #00302e;
  padding: 1rem 2.188rem;
}

.order-no {
  font-weight: 600;
  font-size: 1.688rem;
  line-height: 1.688rem;
  text-align: center;
  color: #00302e;
}

@media screen and (max-width: 767px) {
  .dashboard-sidebar > section > span,
  .dashboard-sidebar > ul span {
    display: none;
  }
}
